@import "./base.css";

/**********
RESET - S
**********/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
ol,
ul {
  list-style: none;
}
em {
  font-style: normal;
}
strong {
  font-weight: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/**********
RESET - E
**********/

/**********
COMMON - S
**********/
h2 {
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 800;
}

.hover-effect:hover {
  background: var(--juston-gradient-1);
  background-size: 300% 100%; /* 그라데이션 반복을 위한 배경 크기 설정 */
  animation: gradient-move 2s ease infinite; /* 5초간 부드럽게 반복 */
  font-weight: 800;
}

.juston-gradient-1 {
  background: var(--juston-gradient-1);
  background-size: 300% 100%; /* 그라데이션 반복을 위한 배경 크기 설정 */
  animation: gradient-move 2s ease infinite; /* 5초간 부드럽게 반복 */
  font-weight: 800;
}
.content-wrap .juston-gradient-text {
  background: linear-gradient(to right, #e0d6ff, #ffeaec, #eaf0fe);
  background-size: 300% 100%; /* 배경 크기 설정 */
  -webkit-background-clip: text; /* 텍스트에 배경을 클리핑 */
  color: transparent; /* 텍스트 색상을 투명으로 설정 */
  animation: gradient-move 2s ease infinite; /* 애니메이션 적용 */
}

.content-scroll {
  height: 100%;
  overflow-y: scroll;
}

body {
  width: calc(100vw - 20px);
  height: calc(100vh - 60px);
  padding: 30px;
  background-color: #f5f1f0;
  display: flex;
  justify-content: space-between;
  place-items: center;
  font-size: 16px;
}

#app {
  display: grid;
  width: 100%;
  height: 100%;
  font-weight: normal;
  gap: 26px;
  grid-template-columns: 380px 1fr;
}

.content-box {
  display: grid;
}

.content-wrap {
  height: 100vh;
  border: 1px solid #eee;
  border-radius: 36px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 42px;
  overflow: hidden;
}

.content-wrap-np {
  border: 1px solid #eee;
  border-radius: 36px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.article {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.btn-m-black {
  height: 52px;
  border-radius: 16px;
  padding: 14px 20px;
  background-color: var(--juston-black);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.btn-m-white {
  height: 52px;
  border-radius: 16px;
  padding: 14px 20px;
  background-color: #fff;
  color: var(--juston-black);
  font-size: 16px;
  font-weight: 700;
  border: 2px solid rgb(222, 217, 223);
}

textarea {
  resize: none;
  border: 2px solid #e5e7eb;
  border-radius: 16px;
  padding: 8px 16px;
  margin-right: 8px;
}

.ellipsis {
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  overflow: hidden; /* 넘친 텍스트 숨김 */
  text-overflow: ellipsis; /* ...으로 표시 */
}

.rotate-180 {
  transform: scaleX(-1);
}

.input-style-h52 {
  border: 2px solid #e5e7eb;
  border-radius: 16px;
  padding: 8px 16px;
  margin-right: 8px;
  height: 52px;
}

label {
  font-size: 18px;
  font-weight: bold;
}

.grid-1fr-1fr {
  display: grid;
  gap: 26px;
  grid-template-columns: 1fr 1fr;
}

/**********
COMMON - E
**********/

/*************
ANIMATION - S
*************/

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*************
ANIMATION - E
*************/

@media (hover: hover) {
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */

  #app {
  }
}

/* SCROLL - S */
* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #ccc #f1f1f1; /* Firefox */
}

/* Webkit 기반 브라우저 (Chrome, Safari 등) */
::-webkit-scrollbar {
  width: 12px; /* 세로 스크롤바 */
  height: 12px; /* 가로 스크롤바 */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* 스크롤바의 배경 */
}

::-webkit-scrollbar-thumb {
  background: #888; /* 스크롤바의 실제 부분 */
  border-radius: 10px; /* 둥글게 */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* hover 상태에서 색 변경 */
}

.scroll-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.scroll-container:hover {
  overflow-y: scroll;
}
