<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mvc.model.dao.MusicDao">
<insert id="insertMusic" parameterType="Music" useGeneratedKeys="true" keyProperty="MusicNo">
		INSERT INTO music(music_id, src, title, user_id)
		SELECT #{musicId}, #{src}, #{title}, #{userId} FROM DUAL
		WHERE #{musicId} NOT IN (SELECT music_id FROM music WHERE user_id = #{userId})
	</insert>
	
	<delete id="deleteMusic" parameterType="int">
		DELETE FROM music
		WHERE music_no = #{musicNo}
	</delete>
		
	<select id="selectMusicByNo" resultType="Music" parameterType="int">
		SELECT * FROM music
		WHERE music_no = #{musicNo}
	</select>
	
	<update id="updateMusic" parameterType="Music">
		UPDATE music
		SET music_id = #{musicId}, src = #{src}, title = #{title}
		WHERE music_no = #{musicNo} AND #{musicId} NOT IN (SELECT music_id FROM (SELECT music_id FROM music WHERE user_id = #{userId} AND music_no != #{musicNo}) as v)
	</update>
	
	
	<select id="selectMusicByGroup" resultType="Music" parameterType="MusicGroup">
		
	</select>
	
	<select id="selectMusicTitle" resultType="Music" parameterType="String">
		SELECT music_no, title FROM music
		WHERE user_id = #{Id}
	</select>
	
	<insert id="insertMusicToGroup">
		INSERT INTO playlist_music(playlist_name, music_no)
		VALUES (#{playlistName}, #{musicNo})
	</insert>
	
	<delete id="deleteMusicFromGroup">
		DELETE FROM playlist_music
		WHERE playlist_name = #{playlistName} AND music_no = #{musicNo}
	</delete>
	
	<select id="selectMusicGroup" resultType="MusicGroup" parameterType="String">
		SELECT playlist_name, group_desc FROM music_group
		WHERE user_id = #{userId}
		ORDER BY create_date
	</select>
	
	<select id="selectRegistedMusicGroup" resultType="String" parameterType="int">
		SELECT playlist_name FROM category_Music
		WHERE music_no = #{musicNo}
	</select>
		
	<insert id="insertMusicGroup" parameterType="MusicGroup">
		INSERT INTO music_group(playlist_name, user_id, group_desc)
		VALUES (#{playlistName}, #{userId}, #{groupDesc})
	</insert>
	
	<delete id="deleteMusicGroup" parameterType="MusicGroup">
		DELETE FROM music_group
		WHERE playlist_name = #{playlistName} AND user_id = #{userId}
	</delete>
</mapper>