<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mvc.model.dao.UserDao">
	
	<!-- select pw 빼기  -->
	<select id="selectUser" parameterType="String" resultType="User">
		SELECT user_id, name, email, gender, post_code, address, extra_address, detail_address, nickname, birth, role
		FROM user
		WHERE user_id = #{userId}
	</select>
	
	<select id="existsById" resultType="String" parameterType="String">
		SELECT user_id FROM user
		WHERE user_id = #{userId}
	</select>
	
	<select id="findByUserId" resultType="User" parameterType="String">
		SELECT * FROM user
		WHERE user_id = #{userId}
	</select>
	
	<insert id="insertUser" parameterType="User">
		INSERT INTO user(user_id, password, name, email, gender, post_code, address, 
		<if test="extraAddress != null">
		extra_address,
		</if>
		detail_address, nickname, birth, role)
		VALUES(#{userId}, #{password}, #{name}, #{email}, #{gender}, #{postCode}, #{address}, 
		<if test="extraAddress != null">
		#{extraAddress},
		</if>
		#{detailAddress}, #{nickname}, #{birth}, #{role})
	</insert> 
	
	<update id="updateUser" parameterType="User">
		UPDATE user
		SET email = #{email}, gender = #{gender}, post_code = #{postCode}, address = #{address}, extra_address = #{extraAddress}, detail_address = #{detailAddress}, nickname = #{nickname}, birth = #{birth}
		WHERE user_id = #{userId}
	</update>
	
	<insert id="insertProfile" parameterType="UserProfile">
		INSERT INTO user_profile_img(file_path, ori_name, system_name, user_id)
		VALUES (#{filePath}, #{oriName}, #{systemName}, #{UserId})
	</insert>
	
	<delete id="deleteProfile" parameterType="String">
		DELETE FROM user_profile_img
		WHERE user_id = #{id}
	</delete>
</mapper>