<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mvc.model.dao.VideoReviewDao">
	
	<insert id="insertReview" parameterType="VideoReview">
		INSERT INTO video_review(content, writer, video_no, user_id, parent_no)
		VALUES (#{content}, #{writer}, #{videoNo}, #{userId}, #{parentNo})
	</insert>
	
	<select id="selectReview" resultType="VideoReview">
		SELECT * FROM video_review
		WHERE parent_no = 0
		ORDER BY reg_date
	</select>
	
	<update id="updateReview" parameterType="VideoReview">
		UPDATE video_review
		SET content = #{content}, reg_date = now()
		WHERE review_no = #{reviewNo}
	</update>

	<delete id="deleteReview" parameterType="int">
		DELETE FROM video_review
		WHERE review_no = #{reviewNo}
	</delete>
	
	<select id="selectReply" resultType="VideoReview" parameterType="int">
		SELECT * FROM video_review
		WHERE parent_no = #{parentNo}
		ORDER BY reg_date
	</select>
</mapper>